version: '3.8'
services:
  api:
    container_name: todo_api
    build:
      context: .
      dockerfile: ./docker/DockerfileApi
    tty: true
    restart: always
    env_file: .env
    ports:
      - '3000:3000'
    command: npm run start:dev
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
    depends_on:
      - db
  db:
    container_name: todo_db
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    tty: true
    restart: always
    env_file: .env
    ports:
      - '3006:3006'
    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
